*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    color: #000000;
}

.form-container{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(download.jfif);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
} 


.form{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 15px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.5); 
    position: relative;
}

#login1{
    position: absolute;
    top: 6%;
    left: 38%;
    font-size: 39px;
    color: #000000;
}

.form input{
    height: 40px;
    width: 350px;
    margin: 10px;
    margin-left: 25px;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form input:focus{
    border: 2px solid aqua;
}

.form label{
    margin-left: 20px;
    color: #000000;
    font-size: 18px;
}

.form button{
    height: 40px;
    width: 350px;
    margin: 10px;
    background-color: black;
    margin-left: 25px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    outline: none;
}