

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --grey:rgb(255, 255, 255);
    --black:black;
    --white: white;
    --blue:#3498db;
    font-family: "Outfit", sans-serif;
}

html,body{
    height:100%;
    width: 100%;
    background-color:var(--grey);
    scroll-behavior: smooth;
    position: relative;
}
.header{
    height: fit-content;
    width: 100%;
}

.nav-bar{
    height: 70px;
    width: 100%;
    display: flex;
}

.logo-div{
    height: 100%;
    width: 200px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 0.2vw;
}

.logo-div img{
    height: 50px;
    width: 140px;
}

.search-bar{
    height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.search-bar input{
    height: 60%;
    width: 95%;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--black);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    outline: none;
}

.search-bar input::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--black);
}

.search-bar input:focus{
    outline: 2px solid var(--blue);
}

.ri-search-2-line{
    position: absolute;
    left: 10%;
}

.location{
    height: 100%;
    width: 350px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ri-map-pin-line{
    font-size: 20px;
    position: absolute;
    left: 10%;
}

.location input{
    height: 60%;
    width: 90%;
    border-radius: 50px;
    padding-left: 50px;
    padding-top: 0.7vw;
    font-size: 16px;
    border: none;
    outline: none;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.location a{
    height: 60%;
    width: 90%;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 16px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.location input:focus{
    outline: 2px solid var(--blue);
}

.manu-bar{
    height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#menu{
    text-decoration: none;
    color: var(--black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    transition: transform 0.3s ease;
    position: relative;
    display: inline-block;
}

#menu::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color:var(--blue);
    transform: scale(0);
    transition: transform 0.3s ease;
}

#menu:hover::before {
    transform: scale(1);
}

.cart-login{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

#cart{
    text-decoration: none;
    color: var(--black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    transition: transform 0.3s ease;
}

#cart:hover{
    transform: rotate(3deg);
}

.div-login{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#user{
    text-decoration: none;
}

.div-login:hover {
    transform: scale(1.05);
}

.div-login:active {
    transform: scale(0.95);
}

.hidden-div{
    display: none; 
    width: 200px;
    height: 150px;
    border: 2px solid var(--black);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 5px;
    position: absolute;
    top: 4%;
    right: 1%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 10px;
    z-index: 2;
    background-color: var(--grey);
}

#hidden-menu{
    text-decoration: none;
    color: var(--black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    transition: transform 0.3s ease;
    color: #FFF;
    
}

 a .hidden-menu-div{
    height: 40px;
    width: 90%;
    background-color: var(--black);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.hidden-menu-div:hover{
    background-color: var(--blue);
}

.services-video-container{
    height: 500px;
    width: 100%;
    display: flex;
}

.services-div{
    height: 420px;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    padding-left: 30px;
}

.service-type{
    height: 110px;
    width: 25%;
    background-color:#ffffff;
    border-radius: 12px 12px 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-left: 10px;
}

.service-type img{
    height: 50%;
    width: 40%;
    /* aspect-ratio: 3/2; */
    object-fit: contain;
    margin-left: 15px;
    transition: transform 0.3s ease;
}

.service-type img:hover{
    transform: scale(1.05);
}
.service-type label{
    padding-left: 5vw;
}

.video-div{
    height: 90%;
    width: 50%;
display: flex;
      justify-content: center;
      align-items: center;
    
}

.video-div video {
    height: 90%;
    width: 90%;
}

.swiper {
      width: 260px;
      height: 360px;
      
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }

    .swiper-slide img{
        height: 360px;
        width: 260px;
    }
    .swiper-slide:nth-child(1n) {
      background-color: rgb(206, 17, 17);
      
    }

    .swiper-slide:nth-child(2n) {
      background-color: rgb(13, 22, 29);
    }

    .swiper-slide:nth-child(3n) {
      background-color: rgb(10, 184, 111);
    }

    .swiper-slide:nth-child(4n) {
      background-color: rgb(211, 122, 7);
    }

    .swiper-slide:nth-child(5n) {
      background-color: rgb(118, 163, 12);
    }

    .swiper-slide:nth-child(6n) {
      background-color: rgb(180, 10, 47);
    }

    .swiper-slide:nth-child(7n) {
      background-color: rgb(35, 99, 19);
    }

    .swiper-slide:nth-child(8n) {
      background-color: rgb(0, 68, 255);
    }

    .swiper-slide:nth-child(9n) {
      background-color: rgb(218, 12, 218);
    }

    .swiper-slide:nth-child(10n) {
      background-color: rgb(54, 94, 77);
    }
    
    .swiper-slide:nth-child(1n) video {
      height: 100%;
    width: 100%;
    }



.secondbox{
    height: 40vh;
    width: 100%; 
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;

}


.box1{
    height: 100%;
    width: 40%;
    background-color: rgb(166, 166, 166);
    margin: 3vw;
    display: flex;
    border-radius: 2vw;
}


.box2{
    height: 100%;
    width: 40%;
    background-color:rgb(164, 162, 162);
    display: flex;
    border-radius: 2vw;
}



.s1{
height: 100%;
width: 74%;
color: whitesmoke;
padding-top: 4vw;
padding-left: 2vw;

}


.s2{
height: 100%;
width: 36%;
background-color: rgb(0, 0, 0);
border-radius: 2vw;
}

.s2 img{
    height: 324px;
    width: 30-0px;
   border-radius: 0vw 2vw 2vw 0;
}

.s1 button{
    padding: 0.7vw 2vw;
    background-color: #cecece;
    border-radius: 1vw;
    border: none;
}









.secondbox1{
    height: 50vh;
    width: 100%; 
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7vw;

}



.box11{
    height: 100%;
    width: 50%;
    background-color: rgb(0, 0, 0);
    margin: 1vw;
    border-radius: 2vw;
}

.box11 video{
    height: 100%;
    width: 100%;
    border-radius: 2vw;
}



.box12{
    height: 100%;
    width: 50%;
    background-color:rgb(0, 0, 0);
}

.box12 video{
    height: 100%;
    width: 100%;
}

.box13{
    height: 100%;
    width: 50%;
    background-color:rgb(0, 0, 0);
 margin-left: 1.5vw;
}

.box13 video{
    height: 100%;
    width: 100%;
}



.maincontener
{
    height: 100%;
    width: 30%;
/* background-color: aqua; */
margin: 1vw;
}

.maincontener2
{
    height: 100%;
    width: 30%;
    background-color: rgb(255, 255, 255);
}

.container1{
    height: 50%;
    width: 100%;
    /* background-color: #7e7777; */
    margin: 0.2vw;
    margin-bottom: 1vw;
}

.container1 img{
     height: 290px;
    width: 290px;
    object-fit: contain;
    padding-bottom: 2vw;
}

.container2{
    height: 58%;
    width: 100%;
    /* background-color: #8a8282; */
     margin: 0.2vw;
}

.container2 img{
     height: 300px;
    width: 260px;
    object-fit: contain;
}

.container3{
    height: 60%;
    width: 100%;
    /* background-color: #722828; */
     margin: 0.2vw;
     margin-bottom: 2vw;
}
.container4{
    height: 40%;
    width: 100%;
    /* background-color: #413b3b; */
     margin: 0.2vw;
}

.container4 img{
    height: 200px;
    width: 260px;
    object-fit: contain;
}
.container3 img{
    height: 280px;
    width: 260px;
    object-fit: contain;
}







.heading-massage-services{
    height: 60px;
    width: 100%;
    margin-top: 40px;
    padding-left: 50px;
}



.footer-section{
    height: 400px;
    width: 100%;
    background-color: rgba(235, 235, 235, 0.877);
    display: flex;
}

.footer-section1{
    height: 100%;
    width: 25%;
}

.upper{
    height: 170px;
    width: 100%;
}

.lower{
    height:calc(100% - 170px);
    width: 100%;
    padding-left: 50px;
}

.upper1{
    height: 170px;
    width: 100%;
}

.lower1{
    height: calc(100% - 170px);
    width: 100%;
    padding-left: 30px;
}

#footer-heading{
    font-size: 24px;
    margin-bottom: 30px;
}

li{
    margin-bottom: 10px;
}

.social-media-icons{
height: 60px;
width: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
gap: 20px;
}

.social-icon{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.social-icon:hover{
    background-color: var(--black);
    color: white;
}

.copyright{
    height: 30px;
    width: 100%;
    background-color: rgba(235, 235, 235, 0.877);
    text-align: center;
}

.mainbox{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    border-radius: 20px;
    flex-wrap: wrap;
    padding-left: 50px;
}
.card{
   height: 320px;
   width: 260px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column; 
   margin: 20px;
   border-radius: 10px;
   border: 0.1px solid rgb(79, 73, 73);
}
.upperpart{
    height: 65%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.upperpart img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    transition: transform 0.3s ease;
}

.upperpart img:hover{
    transform: scale(1.05);
}

.lowerpart{
    height: 35%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    padding-left: 10px;
}

#link{
    text-decoration: none;
    color: var(--black);
}


